
MangoRestaurant/MangoRestaurant.sln

MangoRestaurant/.idea/.idea.MangoRestaurant/.idea/indexLayout.xml

MangoRestaurant/.idea/.idea.MangoRestaurant/.idea/encodings.xml

MangoRestaurant/.idea/.idea.MangoRestaurant/.idea/vcs.xml
